:root {
  --colorPrimary: #1976d2;
  --colorSecondary: #212121;
  --colorBackground: #fff;
  --colorTextPrimary: #fff;
  --fontFamily: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--colorBackground);
  font-family: var(--fontFamily);
  font-size: 14px;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.logo {
  width: 8rem;
}

.logo img {
  width: 100%;
  vertical-align: top;
}

.title-main {
  font-size: 3em;
  padding: 12px 0;
  color: var(--colorPrimary);
}

.container-image {
  width: 100%;
}

.container-image img {
  width: 100%;
  vertical-align: top;
}

.button-coggle{
  display: inline-block;
  background-color: #8ece52;
  padding: 1em 1.5em;
  border-radius: 0.3em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 2rem;
}

.header-site {
  background-color: var(--colorPrimary);
}

.navbar-site {
  padding: 1rem 0;
}

.navbar-site__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-site__item {
  color: var(--colorTextPrimary);
  font-size: 1em;
  padding: 0 1em;
  cursor: pointer;
  font-weight: 700;
}

.description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  text-align: center;
  color: #1976d2;
}

.description-content__link {
  text-decoration: none;
  color: var(--colorSecondary);
  font-style: italic;
}

.description-content__paragraph {
  font-size: 1.2em;
  line-height: 1.3;
  max-width: 80%;
}

.impact-mapping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
}

.impact-mapping__title {
  padding-bottom: 2rem;
}

.impact-mapping__paragraph {
  max-width: 80%;
  padding-bottom: 2rem;
}

.container-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 6rem 0;
}

.container-team__title {
  padding-bottom: 2rem;
}

.container-team__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}


@media (max-width: 1000px) {
  .container-team__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container-team__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-team__member {
  border: 1px solid #ccc;
  padding: 2em;
  border-radius: .5em;
}

.container-team__image img {
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  margin: 1rem 0;
}

.social-media {
  display: flex;
  padding-top: 1em;
}

.social-media__item{
  padding: 0 1em;
}

.social-media__item a {
  text-decoration: none;
  color: var(--colorSecondary);
}

.footer-site {
  padding: 2em;
  background-color: var(--colorSecondary);
  text-align: center;
  color: #fff;
}